.msgToAdmin {
	width: 80%;
	border: 1px dashed #000;
	text-align: left;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 64px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFEE;
        font-size: 12px;
	z-index: 1;
}
.msgToUser {
	text-align: left;
	padding-bottom: 5px;
	padding-top: 15px;
	padding-right: 5px;
	vertical-align: middle;
        font-size: 14px;
	z-index: 1;
}
.imgSpace {
	float: left;
	width: 64px;
	height: 64px;
        margin: 5px;
}
.linkSpace {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 5px;
}
.centered {

	top: 20%; 
	left: 50%; 
	width: 60%; 
	margin-left: 30%;
        border: 1px solid #5C93BE;
	background-color: #F5F5F5;
	padding-bottom: 5px;
        margin-bottom: 5px;
}
a,a:hover {
    color: #007;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
